{% extends 'RestaurantBooking/PageUtils/base-user.html'%}


{% block content %}
<div class="alert alert-warning">
  <p> Bienvenido a la Universidad Nacional de Loja, a la izquierda tienes el menú de navegación para que conozcas cada lugar de esta hermosa Universidad.</p>

</div>
<div class="container-fluid border">

  <div class="row ">
   </div>
   <div id="seccion1" class="seccion activo">
    <iframe
    width="950"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJV8sX5ObZJB4V0gy6ILSqjEcVOYOMcZ4
      &q=-4.034391029549732, -79.20224278398778&zoom=15">
  </iframe>

    
</div>
</div>
{% endblock %}