
  .sidebar {
      grid-area: sidebar;
    }
  
    .content {
      grid-area: content;
    }
  
    .header {
      grid-area: header;
    }
  
    .footer {
      grid-area: footer;
    }
  
  
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 220px 120px 780px;
      grid-template-areas:
      "....... header header"
      "sidebar content content"
      "footer  footer  footer";
      color: #444;
    }
  
  
  .box {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
  }

.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto ;
}

.grid-item {
  text-align: center;
}

.sideContent li {
    list-style: none;
    padding-top: 2rem;
    border-bottom: 1px solid #ffec41d9;
}

.sideContent li:hover {
    cursor: pointer;
    padding-top: 2rem;
    border-bottom: 1px dotted #ffec41d9;
}


